################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/x64/Debug
/nes_tests/x64/Debug
